XML Practical Assignments/Assignment 3 (Schema & XML)/1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="detail">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="fname" type="xsd:string">
				</xsd:element>
				<xsd:element name="lname" type="xsd:string">
				</xsd:element>
				<xsd:element name="address" type="xsd:string">
				</xsd:element>
				<xsd:element name="perc" type="xsd:int">
				</xsd:element>
				<xsd:element name="cyear" type="xsd:int">
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>