XML Practical Assignments/Assignment 3 (Schema & XML)/6.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="emp">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="no" type="xsd:int"></xsd:element>
				<xsd:element name="name" type="xsd:string"></xsd:element>
				<xsd:element name="des" type="xsd:string"></xsd:element>
				<xsd:element name="sal" type="xsd:int"></xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>