XML Practical Assignments/Assignment 3 (Schema & XML)/8.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="vender">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string"></xsd:element>
				<xsd:element name="info">
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="add" type="xsd:string"></xsd:element>
							<xsd:element name="date" type="xsd:int"></xsd:element>
							<xsd:element name="gender" type="xsd:string"></xsd:element>
							<xsd:element name="pin" type="xsd:int"></xsd:element>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>